@tailwind base;
@tailwind components;
@tailwind utilities;

:root html body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: #0e0e1c;
  color: #fff;
  font-family: "Outfit", sans-serif;
}
